[flask]
;Application Host.
host = 0.0.0.0

;Application Port.
port = 5050

;Application Secret.
;This should be overwritten in the local config.
secret_key =

;Debug Mode.
;Defaults to False.
debug = False

[jwt]
;Application JWT Secret.
;This should be overwritten in the local config.
secret_key =

;JWT Access Token Expiration.
;Defaults to expire in 1 day
access_token_expires = 86400

[databases]
;Databases Supported.
;Defines the names of all databases that the config should look for.
supported_databases = mongo
                      sql

[database]
;Expects (host, port, name, user, pass) in that order

;Mongo connection
mongo = 127.0.0.1
        27017
        flask_mongo
        user
        changeMe

;SQL connection
sql = 127.0.0.1
      5432
      flask_sql
      user
      changeMe
;Database Type.
;Defaults to mongo, which for now is the only DB type supported.
type = mongo

;Database Host.
;Defaults to localhost.
host = 127.0.0.1

;Database Port.
;Defaults to 27017, the Mongo DB base port.
port = 27017

;Database Name.
;This should be overwritten in the local config.
name = flask_api

;Database User.
;This should be overwritten in the local config.
user =

;Database Password.
;This should be overwritten in the local config.
pass =